*{
    padding: 0;
    margin: 0;
}
/*---------------nav bar------------------*/
.navbar-brand{
    font-size: 25px;
    font-weight: 600;
    color: lightblue;
}


/*-----------------Header-------------------*/
#header{
    width: 100%;
    height: 100vh;
    border-left: none;
    border-right: none;
    position: relative;
    padding: 20px;
}
.video-container{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

#myVideo {
    position: absolute;
    z-index: -1;
    opacity: 0.78;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

.hero{
    z-index: 1;
}
.headh{
    margin-top: 130px !important;
    margin-bottom: 20px;
    font-size: 50px;
}
.headp{
    margin-bottom: 30px;
}
.btn{
  border-radius: 30px;
  padding: 10px 40px;
}

/*--------operating------------*/
.operating{
    background-image: url(img/operating.jfif);
    background-size: cover;
    
}
.poh1{
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    margin-top: 150px;
    margin-bottom: 50px;
}
.opp{
    color: #fff;
    margin-bottom: 110px;
    font-size: 25px;
}

/*-----------------------How we help--------------------*/
.help{
    background-color: rgb(242, 246, 248);
    padding-bottom: 50px;
}
.this{
    font-size: 45px;
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: 700;
}
.card{
    margin-bottom: 100px;
}
.card-content{
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: lightblue;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.shake{
   border: lightblue solid 3px;
   border-radius: 50%;
   margin: 50px auto;
}
.Ashake{
    margin-bottom: 20px;
}
.pshake{
    margin-bottom: 60px;
}
.btn1{
    margin: 10px auto;
  padding: 6px 12px;
  border-radius: 3px;
}
.card-footer{
    padding: 15px;
}


/*------------What makes us different-------------*/
.different{
    margin-top: 90px;
}
.make{
    margin: 80px 0;
}
.accesh3{
    font-size: 50px;
    font-weight: 700;
    color: blue;
    margin-top: 70px;
}
.accesh6{
    font-size: 20px;
}
.accessable{
    width: 550px;
    border-radius: 10px;
}
.acceshp{
    word-spacing:  2px;
    letter-spacing: 2px;
    padding-right: 40px;
}

/*----------------Companys--------------------*/
.company{
    margin-bottom: 50px;
   
}
.com1{
    font-size: 45px;
    margin-top: 100px;
    margin-bottom: 20px;
    font-weight: 700;
    margin-left: 30px;
}
.comp{
    font-size: 20px;
    margin-bottom: 80px;
}
.btn2{
    margin: 10px auto;
  padding: 10px 12px;
  border-radius: 3px;
}
/*----------footer-------------*/
.footer{
    background-color: lightblue;
    padding: 20px 0;
}






/*=========================== About page==================================  */
/*=========================== About page==================================  */
/*=========================== About page==================================  */
/*=========================== About page==================================  */
/*=========================== About page==================================  */


#about-header{
    width: 100%;
    height: 70vh;
    border-left: none;
    border-right: none;
    position: relative;
    padding: 20px;
}
.video-container-about{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 70vh;
    width: 100%;
    overflow: hidden;
}

#myVideo-about {
    position: absolute;
    z-index: -1;
    opacity: 0.78;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

.hero{
    z-index: 1;
}
.headh-abt{
    margin-top: 60px !important;
    margin-bottom: 20px;
    font-size: 70px;
    font-weight: 600;
}
.headp{
    margin-bottom: 30px;
}
.btn{
  border-radius: 30px;
  padding: 10px 40px;
}
/*-----------Our mission------------------*/
.mission-abt{
    margin-top: 90px;
    margin-bottom: 70px;
}
.ourh{
    font-size: 50px;
    font-weight: 700;
    font-style: oblique;
}
.ourp{
    font-size: 18px;
    word-spacing:  2px;
    letter-spacing: 2px;
}


/*----------------------our team--------------------------*/
.Team{
    font-size: 50px;
    font-weight: 700;
    font-style: oblique;
}
.teamh4{
    font-size: 25px;
    font-weight: 700;
    color: blue;
    margin-bottom: 30px;
}
.teamp{
    word-spacing:  2px;
    letter-spacing: 2px;
    line-height: 30px;
}
.tedh{
    font-size: 22px;
    font-weight: 700;
    margin-top: 20px;
}
.teamdid{
    margin-bottom: 60px;
}
.teamtop{
    margin: 70px 0;
}
.teamp{
    word-spacing:  2px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.bii{
    margin: 0 10px;
}


/* <!----------------Interest in voleentering  --> */
.interest{
    background-image: url(img/tech.jpg);
    background-size: cover;
}
.intereh1{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
}
.interep{
    color: #fff;
    margin-top: 50px;
    margin-bottom: 80px;
    font-size: 20px;
    word-spacing:  2px;
    letter-spacing: 2px;
}

/*-----------------our partner----------------*/
.partner{
    background-color:  rgb(242, 246, 248); ;
}


/*--------------------company1-------------------*/
.company1{
    background-color: black;
    padding: 60px 0;
}
.com2{
    font-size: 45px;
    margin-top:0px;
    margin-bottom: 20px;
    font-weight: 700;
    margin-left: 30px;
}
.comp1{
    font-size: 20px;
    margin-bottom: 80px;
}
.btn2{
    margin: 10px auto;
  padding: 10px 12px;
  border-radius: 3px;
}



/* ============================Pladge========================== */
/* ============================Pladge========================== */
/* ============================Pladge========================== */
/* ============================Pladge========================== */


/* <!-------------------Pledge------------------> */
.pledgeh{
    font-size: 35px;
    font-weight: 700;
    margin-top: 100px;
}
.pledgep{
    word-spacing:  2px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-size: medium;
}
.pledgeh1{
    font-size: 35px;
    font-weight: 700;
}
.lii{
    margin-left: 30px;
}
.linkk{
    text-decoration: none;
}

/* ========================learn how to code====================== */
/* ========================learn how to code====================== */
/* ========================learn how to code====================== */
/* ========================learn how to code====================== */

.learnhh{
    font-size:100;
    margin-top: 70px;
    font-weight: 900;
}
.offer{
    font-size: 40px;
    font-weight: 700;
    font-style: oblique;
    margin-top: 40px;
}




/* =====================what we offer on learn how to code================================= */
/* =====================what we offer on learn how to code================================= */
/* =====================what we offer on learn how to code================================= */
/* =====================what we offer on learn how to code================================= */
/* =====================what we offer on learn how to code================================= */

.freeh{
    font-size: 30px;
    font-weight: 800;
    color: blue;
    margin-top: 10px;
}
.freep{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

/* ======================community=========================== */
/* ======================community=========================== */
/* ======================community=========================== */
/* ======================community=========================== */
.community1{
    background-color: rgb(147, 147, 245);
}
.comunity2{
    margin: 50px 0;
}
.conm{
    margin-top: 20px;
    margin-bottom: 90px;
}
.conmh{
    font-size: 40px;
    font-weight: 800;
    margin-top: 40px;
}
.conmh3{
    font-size: 40px;
    font-weight: 700;
    margin-top: 90px;
    word-spacing:  2px;
    letter-spacing: 2px;
}
.conmh5{
    word-spacing:  2px;
    letter-spacing: 2px;
    
}
.btn2{
    border-radius: 50px;
    margin-top: 90px;
    padding: 20px 60px;
    text-decoration: none;
    font-size: 30px;
}
.btnjoint{
    margin-top: 150px;
    margin-bottom: 90px;
}



/* ==================our community================== */
/* ==================our community================== */
/* ==================our community================== */
/* ==================our community================== */
.loal{
    margin: 100px 0;
    font-weight: 800;
}
.loall{
    margin-bottom: 70px;
}

/* ===================local meetup=========== */
/* ===================local meetup=========== */
/* ===================local meetup=========== */
/* ===================local meetup=========== */
.eventp{
    margin-bottom: 40px;
    font-weight: 700;
}
.acceshpp{
    margin-top: 100px;
    word-spacing:  2px;
    letter-spacing: 2px;
}
#local{
    margin: 50px 0;
}





/* =========================Voluntee page======================= */
/* =========================Voluntee page======================= */
/* =========================Voluntee page======================= */
/* =========================Voluntee page======================= */
.volunteep{
    margin-top: 0px;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 2px;
}
.voluntee{
    font-size: 50px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: 700;
}


/* ==================what we are needing=================== */
.needwe {
    margin-top: 100px;
    margin-bottom: 50px;
}
.meedp{
    font-size: 40px;
    font-weight: 800;
}
.rounded-circle{
    border: 1px solid lightblue;
    margin-bottom: 30px;
}